body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #98817b;
}

.container1 {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.container2 {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
}

.container3 {
    max-width: 100px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
}

.container4 { /* For the image */
    font-style: oblique;
    font-weight: 800;
    max-width: 300px;
    margin: 0 auto; /*centrare */
    text-align: left;
}
.container5 {    /* the image */
    background-image: url("books2.jpg");
    padding: 20px;   /* the image */
}

.container6 {    /* Make text more visible */
    opacity: 10.5;
}

.icon-container {   /* Place icon2 before text */
    margin-right: 10px;
}

.additional-text {  /* Text after title */
    font-weight: 900;
    font-size: 20px;
    color: black;
}

.title {
    font-family: Fantasy, sans-serif;
    font-size: 60px;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: 0;
    display: inline-block;
}

.fa-book-open { /* Align icon1 with text */
    vertical-align: middle;
}

.button {   /* Search button */
    background-color: #C4A484;
    color: black;
    font-size: 25px;
    padding: 12px 28px;
    transition-duration: 0.4s;
    border: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #999;
    color: white; /* text color on hover */
}